<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UCI Domain Search</title>
    <link  rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"/>
  </head>
  <body>
    <h1> UCI Domain Search </h1>
    <div>
	    <form method="GET">
	    	<input type="text" name="searchText" value="{{data.searchText}}"/>
	    	<button>Search</button>    	
	    </form>
	    <div>
    		{% for doc in data %}
    		{% if doc != 'searchText' %}
    		<h3>
    			<a href={{data[doc].url}} target="_blank">
    			   {{data[doc].title}}
    		    </a>
    		    <br>
    		    <cite>
    		    	{{data[doc].url}}
    		    </cite>
    		</h3>
    		{% endif %}
    		{% endfor %}
	    </div>
    </div>
  </body>
</html>