<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>UCI Domain Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link  rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"/>
  </head>
  <body>
    <h1> UCI Domain Search </h1>
    <div>
	    <form method="GET">
	    	<input type="text" name="searchText" value="{{data.searchText}}"/>
	    	<button>Search</button>    	
	    </form>
	    <div>
	    	<a class="more" onclick="javascript:$('.moreResults').toggle()"><< Show Hidden >></a>
	    	<br/>
	    	<p>** Lists max 4 links per domain. Click above link to see more from the domain.</p>

    		{% for doc in data %}
    		{% if doc != 'searchText' %}
    		<h3 {% if data|length >= 21 and data[doc].hidden == True %} class="moreResults" style="display:none" {% endif %}>
    			<a href={{data[doc].url}} target="_blank">
    			   {{data[doc].title}}
    		    </a>
    		    <br>
    		    <cite>
    		    	{{data[doc].url}}
    		    </cite>
    		</h3>
    		{% endif %}
    		{% endfor %}
	    </div>
    </div>
  </body>
</html>